<!--Shrikant neww code-->
<section class="margin-top104 border-top">
  <div class="container">
    <div class="headingTitle3 mb-3">My Cart</div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
          type="button" role="tab" aria-controls="pills-all" aria-selected="true">Workaway</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-suggested-tab" data-bs-toggle="pill" data-bs-target="#pills-suggested"
          type="button" role="tab" aria-controls="pills-suggested" aria-selected="false">IT Subcontract</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <ng-container *ngIf="workawayItems.length > 0; else emptyCart">
          <div *ngFor="let item of workawayItems; let i = index" class="cartCard mb-3"
            [ngStyle]="{'border-left': '5px solid ' + getBorderColor(i)}" [@fadeIn]>
            <div class="card-body p-4 d-flex justify-content-between align-items-center">
              <div>
                <h4><strong>{{ maskName(item.itemDetails.fullName) }} </strong> <small>({{ item.itemDetails.gender ||
                    'N/A' }})</small></h4>
                <p class="mb-0">Job Title : {{ item?.itemDetails?.currentRole?.name || 'N/A' }}</p>
                <ul class="inlineList mt-2">
                  <li><i class="bi bi-mortarboard-fill text-muted me-2"></i> Qualification- {{
                    item.itemDetails.highestQualification || 'N/A' }}</li>
                  <li><i class="bi bi-briefcase-fill text-muted me-2"></i> Experience-
                    {{item?.itemDetails?.totalExperience ?
                    getExperienceRange(item.totalExperience) : 0 }}</li>
                  <li><i class="bi bi-cash text-muted me-2"></i> Day Rate- {{item.itemDetails?.ukDayRate ? '£' : ''}} {{
                    item.itemDetails.ukDayRate || 'On Request' }}
                  </li>
                  <li><i class="bi bi-cash text-muted me-2"></i> Language- {{ item.itemDetails?.languagesKnown.join(',
                    ') || 'N/A' }}
                  </li>
                  <li><i class="bi bi-cash text-muted me-2"></i> Skills- {{ item.itemDetails?.technicalSkills.join(', ')
                    ||
                    'N/A' }}
                  </li>
                </ul>
              </div>
              <button (click)="removeCartItem(item._id)" class="remove-btn ms-3"
                style="width: 100px; white-space: nowrap; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-trash"></i> Remove
              </button>
            </div>
          </div>
        </ng-container>
        <ng-template #emptyCart>
          <div class="text-center py-5">
            <img src="/assets/img/norecordfound.png" width="100" />
            <h5 class="text-center mt-4"><strong>No profiles shortlisted yet</strong></h5>
            <p class="text-center">You haven’t added any profiles to your shortlist. You can start by clicking here, or skip this step if you prefer.</p>
            <p class="text-center">
              Just go ahead and register—we’ll get in touch to collect the info we need and help you find the right match.<br>
              Please note: Profile data is updated at the end of each month, so availability may have changed since the last update.
            </p>
          </div>
        </ng-template>
        <div class="row">
          <div class="col-12 text-center mb-4">
            <a routerLink="/our-services/workaway-registration" class="btn btn-primary mt-3">Register Now</a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-suggested" role="tabpanel" aria-labelledby="pills-suggested-tab">
        <ng-container *ngIf="resourceSharingItems.length > 0; else emptyResourceCart">
          <div *ngFor="let item of resourceSharingItems; let i = index" class="cartCard mb-3"
            [ngStyle]="{'border-left': '5px solid ' + getBorderColor(i)}" [@fadeIn]>
            <div class="card-body p-4 d-flex justify-content-between align-items-center">
              <div>
                <h4><strong>{{ maskName(item.itemDetails.companyName) }} </strong></h4>
                <!-- <p class="mb-0"> -->
                <ul class="bulletpipeLsit">
                  <li>{{item?.itemDetails?.employeeCount || 0}} Employees</li>
                  <li>{{item?.itemDetails?.location || 'Location not specified'}}</li>
                </ul>
                <!-- </p> -->
                <ul class="inlineList mt-2">
                  <li><i class="bi bi-briefcase-fill text-muted me-2"></i> Experience- {{
                    calculateExperience(item.itemDetails.yearOfEstablishment) || '0' }}</li>
                  <li><i class="bi bi-mortarboard-fill text-muted me-2"></i> Total Projects Executed- {{
                    item.itemDetails.totalProjectsExecuted || '0' }}</li>
                  <li><i class="bi bi-cash text-muted me-2"></i>Resources Capacity- {{ item.itemDetails?.employeeCount ?
                    resourceCapacity(item.itemDetails?.employeeCount) : 0 }}
                  </li>
                  <li><i class="bi bi-cash text-muted me-2"></i>Expertise-
                    <span *ngFor="let exp of item?.itemDetails?.expertise; let last = last">
                      {{exp.name}}{{!last ? ', ' : ''}}
                    </span>
                  </li>
                  <li *ngIf="item?.itemDetails?.executiveSummary">
                    {{item?.itemDetails?.executiveSummary}}
                  </li>
                  <!-- <li><i class="bi bi-translate text-muted me-2"></i> Language- {{ item.itemDetails.language || 'N/A' }}</li> -->
                </ul>
              </div>
              <button (click)="removeCartItem(item._id)" class="remove-btn ms-3"
                style="width: 100px; white-space: nowrap; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-trash"></i> Remove
              </button>
            </div>
          </div>
        </ng-container>
        <ng-template #emptyResourceCart>
          <div class="text-center py-5">
            <img src="/assets/img/norecordfound.png" width="100" />
            <h5 class="text-center mt-4"><strong>No companies shortlisted yet</strong></h5>
            <p class="text-center">You haven’t added any companies to your shortlist. You can start by clicking here, or skip this step entirely.</p>
            <p class="text-center">
              If you’d rather move ahead, just register—we’ll reach out to gather the details we need and take it from there. Simple.
            </p>
          </div>
        </ng-template>
        <div class="row">
          <div class="col-12 text-center mb-4">
            <a routerLink="/our-services/workaway-registration" class="btn btn-primary mt-3">Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/shrikant new code-->

<!-- <main>
  <section class="hero" style="padding: 135px 0 0 0; background-color: white;">
    <div class="container">
      <div class="cart-header mb-4">
        <h3>My Cart</h3>
      </div>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="cart-filter" *ngIf="cartItems?.items && cartItems?.items?.length > 0">
            <h3>Filter By</h3>
            <ul>
              <li>
                <button class="filter-btn" [class.active]="selectedFilter === 'all'"
                  (click)="selectedFilter = 'all'">All</button>
              </li>
              <li>
                <button class="filter-btn" [class.active]="selectedFilter === 'workaway'"
                  (click)="selectedFilter = 'workaway'">WorkAway</button>
              </li>
              <li>
                <button class="filter-btn" [class.active]="selectedFilter === 'it-subcontract'"
                  (click)="selectedFilter = 'it-subcontract'">IT Subcontract</button>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-9">
          <div *ngIf="cartItems?.items && cartItems?.items?.length > 0; else emptyCart">
            <div *ngFor="let item of cartItems.items; let i = index" class="cart-card"
              [ngStyle]="{'border-left': '5px solid ' + getBorderColor(i)}">
              <div class="cart-card-header">
                <h2>{{ maskName(item.itemDetails.companyName) }}</h2>
                <button (click)="removeCartItem(item._id)" class="remove-btn" style="width: 100px; white-space: nowrap; display: flex; align-items: center; justify-content: center;"">
                  <i class="bi bi-trash"></i> Remove
                </button>
              </div>
              <div class="cart-card-body">
                <p><strong>Email:</strong> {{ item.itemDetails.email }}</p>
                <p><strong>Type:</strong> {{ item.itemType == 'candidate' ? 'WorkAway' : 'IT Subcontract' }}</p>
                <p><strong>Plan:</strong> {{ item.itemDetails.plan }}</p>
                <p><strong>Company Address:</strong> {{ item.itemDetails.companyAddress }}</p>
              </div>
            </div>
          </div>
          <ng-template #emptyCart>
            <div class="empty-cart-message">No items in cart.</div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mb-4">
          <a routerLink="/our-services/workaway-registration" class="btn btn-primary mt-3">Register Now</a>
        </div>
      </div>
    </div>
  </section>
</main> -->
