
  <section class="page-header-attachment margin-top104" style="background-image: url(/assets/img/aboutus-page-header-bg.png);">
    <div class="overlay-header">
      <div class="container">
        <div class="page-header-content">
          <h1 class="page-titletop">WorkAway FAQ</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript();">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">FAQ's</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="gernralFaq-tab" data-bs-toggle="tab" data-bs-target="#gernralFaq"
            type="button" role="tab" aria-controls="gernralFaq" aria-selected="true">Genral FAQ</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="deliveryFaq-tab" data-bs-toggle="tab" data-bs-target="#deliveryFaq" type="button"
            role="tab" aria-controls="deliveryFaq" aria-selected="false">Delivery & Services</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="securityFaq-tab" data-bs-toggle="tab" data-bs-target="#securityFaq" type="button"
            role="tab" aria-controls="securityFaq" aria-selected="false">Security & Trust</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="talentFaq-tab" data-bs-toggle="tab" data-bs-target="#talentFaq" type="button"
            role="tab" aria-controls="talentFaq" aria-selected="false">Talent Quality & Consortium Model</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="gernralFaq" role="tabpanel" aria-labelledby="gernralFaq-tab">
          <div class="accordion accordion-flush" id="accodianGeneralFAQ">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Why was WorkAway created?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">Because traditional IT outsourcing is broken. We created WorkAway to put
                  control back into your hands — bank your talent, pay only when you grow.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  What pains does WorkAway solve for companies?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">High fixed costs, missing skills blocking growth, vendor lock-ins draining
                  agility, resource gaps delaying success. WorkAway solves all of these with Talent Banking and flexible
                  service delivery.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  How does the Talent Banking model work emotionally?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">Imagine never scrambling for a critical developer or tester again.
                  Interview, approve, and bank your team early — no panic, no surprises.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFoure">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFoure" aria-expanded="false" aria-controls="flush-collapseFoure">
                  What happens if I don’t use my banked talent enough?
                </button>
              </h2>
              <div id="flush-collapseFoure" class="accordion-collapse collapse" aria-labelledby="flush-headingFoure"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">You simply meet a fair minimum annual billing — no financial surprises.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Can I interview and approve banked resources?
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">Yes. You always control who you bank. No random resumes, no risks.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                  What if my project needs change mid-way?
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">No problem. You can replace banked resources or adjust team profiles
                  flexibly without hidden penalties.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  How is WorkAway different from freelancers?
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">Freelancers = Uncertainty. WorkAway = Banked, Known Resources. Your team is
                  banked, reserved, performance-verified — not freelance market risks.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                  Why should growing businesses trust WorkAway?
                </button>
              </h2>
              <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">WorkAway removes staffing bottlenecks, letting you grow faster and safer.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                  Why should agencies use WorkAway?
                </button>
              </h2>
              <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">WorkAway gives agencies their own invisible delivery muscle to win and
                  retain key clients.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                  How fast can I start?
                </button>
              </h2>
              <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
                data-bs-parent="#accodianGeneralFAQ">
                <div class="accordion-body">Very fast. Register your needs → Approve your banked team → Start scaling
                  smarter with no delay.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="deliveryFaq" role="tabpanel" aria-labelledby="deliveryFaq-tab">
          <div class="accordion accordion-flush" id="accordianDelivery">
            <div class="accordion-item">
              <h2 class="accordion-header" id="Delivery-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Delivery-collapseOne" aria-expanded="false" aria-controls="Delivery-collapseOne">
                  How does WorkAway support IT Subcontracting?
                </button>
              </h2>
              <div id="Delivery-collapseOne" class="accordion-collapse collapse" aria-labelledby="Delivery-headingOne"
                data-bs-parent="#accordianDelivery">
                <div class="accordion-body">Mini-competition across 30+ trusted suppliers, best-fit teams proposed per
                  client demand, UK governance ensures full SLA oversight and delivery tracking.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="Delivery-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Delivery-collapseTwo" aria-expanded="false" aria-controls="Delivery-collapseTwo">
                  What delivery strength does WorkAway have?
                </button>
              </h2>
              <div id="Delivery-collapseTwo" class="accordion-collapse collapse" aria-labelledby="Delivery-headingTwo"
                data-bs-parent="#accordianDelivery">
                <div class="accordion-body">30+ supplier companies, 5,000+ vetted IT specialists, 1,000+ projects
                  successfully delivered across domains.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="Delivery-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Delivery-collapseThree" aria-expanded="false" aria-controls="Delivery-collapseThree">
                  How does UK Governance work with Offshore Delivery?
                </button>
              </h2>
              <div id="Delivery-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="Delivery-headingThree" data-bs-parent="#accordianDelivery">
                <div class="accordion-body">UK-based Swindon office handles client engagement, escalation, SLA reviews.
                  Offshore execution teams follow strict project reporting and quality KPIs.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="Delivery-headingFoure">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Delivery-collapseFoure" aria-expanded="false" aria-controls="Delivery-collapseFoure">
                  What testing services are offered by WorkAway QA?
                </button>
              </h2>
              <div id="Delivery-collapseFoure" class="accordion-collapse collapse"
                aria-labelledby="Delivery-headingFoure" data-bs-parent="#accordianDelivery">
                <div class="accordion-body">Functional Testing, Performance Testing, Security Testing, Data Validation,
                  Mobile Testing, Agile QA within CI/CD pipelines.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="Delivery-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Delivery-collapseFive" aria-expanded="false" aria-controls="Delivery-collapseFive">
                  Where are your offshore delivery centers?
                </button>
              </h2>
              <div id="Delivery-collapseFive" class="accordion-collapse collapse" aria-labelledby="Delivery-headingFive"
                data-bs-parent="#accordianDelivery">
                <div class="accordion-body">Main Offshore QA Centre: India (ISO 9001 and ISO 27001 certified),
                  Additional Delivery Support: Eastern Europe, 24x7 delivery coverage.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="securityFaq" role="tabpanel" aria-labelledby="securityFaq-tab">
          <div class="accordion accordion-flush" id="accordianSecurity">
            <div class="accordion-item">
              <h2 class="accordion-header" id="Security-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Security-collapseOne" aria-expanded="false" aria-controls="Security-collapseOne">
                  How secure is my data and IP with WorkAway?
                </button>
              </h2>
              <div id="Security-collapseOne" class="accordion-collapse collapse" aria-labelledby="Security-headingOne"
                data-bs-parent="#accordianSecurity">
                <div class="accordion-body">ISO 27001 Certified Data Protection, GDPR Compliant for UK and EU clients,
                  Secure VPNs, VDIs, and access-controlled offshore environments.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="Security-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Security-collapseTwo" aria-expanded="false" aria-controls="Security-collapseTwo">
                  What if my needs scale up or down during the year?
                </button>
              </h2>
              <div id="Security-collapseTwo" class="accordion-collapse collapse" aria-labelledby="Security-headingTwo"
                data-bs-parent="#accordianSecurity">
                <div class="accordion-body">WorkAway is built for real-world flexibility. Scale your usage up or down
                  easily based on project flow — no burdensome penalties.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="Security-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Security-collapseThree" aria-expanded="false" aria-controls="Security-collapseThree">
                  Can WorkAway support both small projects and large programs?
                </button>
              </h2>
              <div id="Security-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="Security-headingThree" data-bs-parent="#accordianSecurity">
                <div class="accordion-body">Yes. Small projects = Bank 1–5 specialists easily. Large programs = Build
                  Delivery Pods (10–50+ resource teams).</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="talentFaq" role="tabpanel" aria-labelledby="talentFaq-tab">
          <div class="accordion accordion-flush" id="accordianTalent">
            <div class="accordion-item">
              <h2 class="accordion-header" id="Talent-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Talent-collapseOne" aria-expanded="false" aria-controls="Talent-collapseOne">
                  Are the resources random freelancers?
                </button>
              </h2>
              <div id="Talent-collapseOne" class="accordion-collapse collapse" aria-labelledby="Talent-headingOne"
                data-bs-parent="#accordianTalent">
                <div class="accordion-body">No. All WorkAway resources are known quantities, active employees at trusted
                  consortium partner companies already delivering real-world projects.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="Talent-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#Talent-collapseTwo" aria-expanded="false" aria-controls="Talent-collapseTwo">
                  How many projects has WorkAway delivered?
                </button>
              </h2>
              <div id="Talent-collapseTwo" class="accordion-collapse collapse" aria-labelledby="Talent-headingTwo"
                data-bs-parent="#accordianTalent">
                <div class="accordion-body">Collectively across consortium partners: Over 1,000+ IT and digital
                  transformation projects across Public Sector, Finance, Healthcare, Retail, Telecom, and Technology
                  sectors.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

     <!--Search  Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-5">
        <h3><strong>Choose Your Need</strong></h3>
       <p>Find Your Match - Shortlist companies based on your goals and connect directly for quotes or discussions.</p>

       <ul class="SearchneedList">
        <li>
          <a href="resources-search.html">
             <div class="row align-items-center">
                <div class="col-2">
                  <img  src="/assets/img/resources-team.gif" width="64"/>
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">Search Talent</p>
                  <p class="mb-0 text-muted p-12">WorkAway gives you guaranteed access to pre-approved IT talent</p>
                </div>
              </div>
          </a>
        </li>
        <li>
          <a href="resources-search.html">
             <div class="row align-items-center">
                <div class="col-2">
                  <img  src="/assets/img/QA-services.gif" width="64"/>
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">QA Services</p>
                  <p class="mb-0 text-muted p-12">End-to-end testing solutions powered by UK governance and India delivery strength</p>
                </div>
              </div>
          </a>
        </li>
        <li>
          <a href="resources-search.html">
             <div class="row align-items-center">
                <div class="col-2">
                  <img  src="/assets/img/corporate-team.gif" width="64"/>
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">IT Subcontracting Services</p>
                  <p class="mb-0 text-muted p-12">Scale your delivery capacity without the cost, risk, or delay of permanent hires</p>
                </div>
              </div>
          </a>
        </li>
       </ul>

      </div>
    </div>
  </div>
</div>
