.min-height270 {
      min-height: 270px;
    }

// Card shadow and hover effects
.FlatCard {
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }

  &.we-support-card1, &.we-support-card2 {
    border-radius: 8px;

    &.active {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
      transform: translateY(-5px);
    }
  }
}
