<main>
  <section class="hero">
    <div class="container">
      <div class="row align-items-center mb-4">
        <div class="col-12">
          <div class="input-group main-searchbar mb-3">
            <div class="input-group-text p-0 mob-w100">
              <select class="form-select" [(ngModel)]="selectedService" (change)="onServiceChange($event)">
                <option value="WorkAway">WorkAway</option>
                <option value="IT Subcontracting">IT Subcontracting</option>
              </select>
            </div>
            <input type="text" class="form-control mob-w100" placeholder="Search Here">
            <button class="input-group-text shadow-none px-4 search-btn mob-w100" (click)="searchData()">
              <i class="bi bi-search me-2"></i>Search
            </button>
          </div>
        </div>
      </div>

      <div class="workaway-services-box" *ngIf="showSkills">
        <h5 class="headingTitle">The most <span class="text-primary">demanding skills</span></h5>
        <p>Get some Inspirations from 86K+ skills</p>
        <div class="row">
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/ui-ux.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>UX/UX Designer</strong></p>
              <p class="mb-0 p-12">357 Skills</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/softwarte-developer.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Software Developer</strong></p>
              <p class="mb-0 p-12">263 Skills</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/software-testing.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Software Tester</strong></p>
              <p class="mb-0 p-12">200 Skills</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/frontend-developer.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Frontend Developer</strong></p>
              <p class="mb-0 p-12">194 Skills</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/api-developer.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>API Developer</strong></p>
              <p class="mb-0 p-12">300 Skills</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/fullstack-developer.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Fullstack Developer</strong></p>
              <p class="mb-0 p-12">536 Skills</p>
            </div>
          </div>
        </div>
      </div>


      <div class="workaway-services-box" *ngIf="showServices">

        <h5 class="headingTitle">The most <span class="text-primary">demanding services</span></h5>
        <p>Get some Inspirations from 86K+ skills</p>

        <div class="row">
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/software-development.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Software Development</strong></p>
              <p class="mb-0 p-12">423 Requests</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/cloud-development.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Cloud & DevOps</strong></p>
              <p class="mb-0 p-12">781 Requests</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/digital-transformation.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Digital Transformation</strong></p>
              <p class="mb-0 p-12">635 Requests</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/system-intigration.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>Systems Integration</strong></p>
              <p class="mb-0 p-12">457 Requests</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/software-testing.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>QA & Testing</strong></p>
              <p class="mb-0 p-12">250 Requests</p>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
            <div class="light-gray-card">
              <img src="/assets/img/ui-ux.gif" height="60" class="mb-4" />
              <p class="mb-0"><strong>UI/UX Design</strong></p>
              <p class="mb-0 p-12">295 Requests</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div class="container">
      <div class="mb-5 text-center">
        <h3 class="headingTitle">The Rules of <span class="text-primary">Growth Have Changed.</span></h3>
        <p class="mb-0"><strong>Today, different players face different battles:</strong></p>
        <p><strong>WorkAway is your smarter alternative - Bank Your Resources.Scale Without Limits.</strong></p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 mb-4">
          <div class="FlatCard shadow-none we-support-card1 min-height270"
               (click)="showServicePanel('corporate')"
               [class.active]="activeServicePanel === 'corporate'"
               style="cursor: pointer;">
            <div class="card-body p-4">
              <img src="/assets/img/mobile-payment.png" width="84" class="mb-4">
              <p>Corporates are stuck paying sky-high bills to big-name MNC service providers.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 mb-4">
          <div class="FlatCard shadow-none we-support-card2 min-height270"
               (click)="showServicePanel('it-services')"
               [class.active]="activeServicePanel === 'it-services'"
               style="cursor: pointer;">
            <div class="card-body p-4">
              <img src="/assets/img/software-development.png" width="84" class="mb-4">
              <p>Software Houses and IT Service Providers are losing business to giants with bigger delivery promises.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 mb-4">
          <div class="FlatCard shadow-none we-support-card1 min-height270"
               (click)="showServicePanel('recruitment')"
               [class.active]="activeServicePanel === 'recruitment'"
               style="cursor: pointer;">
            <div class="card-body p-4">
              <img src="/assets/img/resources.png" width="84" class="mb-4">
              <p>Recruitment Agencies are squeezed out as clients demand "any skill, anytime" solutions.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 mb-4">
          <div class="FlatCard shadow-none we-support-card2 min-height270"
               (click)="showServicePanel('growing-business')"
               [class.active]="activeServicePanel === 'growing-business'"
               style="cursor: pointer;">
            <div class="card-body p-4">
              <img src="/assets/img/banking.png" width="84" class="mb-4">
              <p>Growing businesses are struggling to access the right skills to scale.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="mb-5 text-center">
        <h3 class="headingTitle">We Offer <span class="text-primary">Most Valuable Services </span></h3>
      </div>

      <div class="container-flex">
        <div class="panel" *ngIf="activeServicePanel === 'corporate'">
          <img src="/assets/img/corporate.png" width="84" class="mb-3" />
          <h3>For Corporates Services</h3>
          <p>Break Free From Expensive MNC Contracts</p>
          <div class="contentbox-result">
            <p class="p-600">Common Struggles:</p>
            <ul class="circle-list mb-4">
              <li>
                <p class="mb-0"><strong>Stuck Paying High MNC Bills</strong></p>
                <p class="mb-0">Long-term rigid contracts drain budgets even when project delivery slows.</p>
              </li>
              <li>
                <p class="mb-0"><strong>Limited Flexibility:</strong></p>
                <p class="mb-0">Adapting to fast-changing business needs is costly and slow with locked-in
                  vendors.</p>
              </li>
              <li>
                <p class="mb-0"><strong>Vendor Lock-In:</strong></p>
                <p class="mb-0">Corporates are tied into expensive models with little control over timelines or
                  costs.</p>
              </li>
            </ul>
            <p><strong>WorkAway: The Smarter Corporate Alternative</strong></p>
            <ul class="circle-list mb-4">
              <li><strong>Talent On Tap:</strong><br> Bank pre-vetted IT talent for your business — flexible,
                ready, and under your control.</li>
              <li><strong>Pay-When-Used:</strong><br> Slash costs with a pure usage model — pay only when
                resources are active.</li>
              <li><strong>Full Control:</strong><br> Build, scale, or adjust your delivery team whenever you
                need — no vendor lock-ins.</li>
            </ul>
            <a data-bs-toggle="modal" data-bs-target="#corporateModal" class="btn btn-primary">Learn How
              WorkAway Helps Corporates →</a>
          </div>
        </div>
        <div class="panel" *ngIf="activeServicePanel === 'growing-business'">
          <img src="/assets/img/stock-market.png" width="84" class="mb-3" />
          <h3 class="text-darkred mb-2"><strong>For Growing Businesses</strong></h3>
          <p>Fuel Your Growth Without Full-Time Burdens.</p>
          <div class="contentbox-result">
            <p class="p-600">Common Struggles:</p>
            <ul class="circle-list mb-4">
              <li>
                <p class="mb-0"><strong>No Access to Skills:</strong></p>
                <p class="mb-0">Struggling to find developers, testers, and IT experts when projects ramp up.
                </p>
              </li>
              <li>
                <p class="mb-0"><strong>Cash Drain During Downtime:</strong></p>
                <p class="mb-0">Paying for full-time teams when no active project work is available.</p>
              </li>
              <li>
                <p class="mb-0"><strong>Contractor Cost Inflation:</strong></p>
                <p class="mb-0">Short-term contractors demanding premium rates, hurting budgets.</p>
              </li>
            </ul>
            <p><strong>WorkAway: Your Smarter Growth Engine</strong></p>
            <ul class="circle-list mb-4">
              <li><strong>Talent On Tap:</strong><br> Bank top-tier tech talent ready to activate when needed —
                no delays.</li>
              <li><strong>Pay Only When Used:</strong><br> Free your cash flow — no costs during downtime or
                project lulls.</li>
              <li><strong>Predictable Cost Model:</strong><br> Lock talent at stable, pre-agreed rates — protect
                your financial plans.</li>
            </ul>
            <a href="#" data-bs-toggle="modal" data-bs-target="#growingbusinessModal" class="btn btn-primary">Learn How
              WorkAway Helps Businesses →</a>
          </div>
        </div>
        <div class="panel" *ngIf="activeServicePanel === 'it-services'">
          <img src="/assets/img/software-development.png" width="84" class="mb-3" />
          <h3 class="text-darkred mb-2"><strong>For IT Service Providers</strong></h3>
          <p>Compete with Giants — Scale Smarter, Not Harder.</p>
          <div class="contentbox-result">
            <p class="p-600">Common Struggles:</p>
            <ul class="circle-list mb-4">
              <li>
                <p class="mb-0"><strong>Losing Deals to MNC Service Providers:</strong></p>
                <p class="mb-0">Clients opt for partners who promise bigger, faster delivery of skills</p>
              </li>
              <li>
                <p class="mb-0"><strong>Scaling Risks:</strong></p>
                <p class="mb-0">Building large teams fast creates financial risks when client demand fluctuates.
                </p>
              </li>
              <li>
                <p class="mb-0"><strong>Resource Gaps at Critical Moments:</strong></p>
                <p class="mb-0">Bids lost or projects delayed because of unavailable technical skills.</p>
              </li>
            </ul>
            <p><strong>WorkAway: The Smarter Corporate Alternative</strong></p>
            <ul class="circle-list mb-4">
              <li><strong>Talent On Tap:</strong><br> Access banked technical resources for fast, flexible
                project scaling.</li>
              <li><strong>Pay-When-Used Flexibility:</strong><br> Expand or shrink delivery teams based on
                real-time project demands.</li>
              <li><strong>Cost-Smart Scaling:</strong><br> Win bigger deals without the overhead risks of
                permanent expansion.</li>
            </ul>
            <a data-bs-toggle="modal" data-bs-target="#itprovidersModal" class="btn btn-primary">Learn How
              WorkAway Helps IT Providers →</a>
          </div>
        </div>
        <div class="panel" *ngIf="activeServicePanel === 'recruitment'">
          <img src="/assets/img/recruitment.png" width="84" class="mb-3" />
          <h3 class="text-darkred mb-2"><strong>For Recruitment Agencies</strong></h3>
          <p>Reclaim Your Clients. Deliver Smarter. Grow Without Limits.</p>
          <div class="contentbox-result">
            <p class="p-600">Common Struggles:</p>
            <ul class="circle-list mb-4">
              <li>
                <p class="mb-0"><strong>Losing Clients to MNC Service Providers:</strong></p>
                <p class="mb-0">Clients prefer suppliers who guarantee faster access to skills.</p>
              </li>
              <li>
                <p class="mb-0"><strong>Resource Loss After Breaks:</strong></p>
                <p class="mb-0">Agencies can't guarantee the same candidate after project pauses.</p>
              </li>
              <li>
                <p class="mb-0"><strong>Scrambling for Talent:</strong></p>
                <p class="mb-0">Last-minute replacements risk delivery delays and trust issues.</p>
              </li>
            </ul>
            <p><strong>WorkAway: The Secret Weapon for Agencies</strong></p>
            <ul class="circle-list mb-4">
              <li><strong>Talent On Tap:</strong><br> Bank and secure IT resources exclusively for your agency
                needs.</li>
              <li><strong>Continuity Protection:</strong><br> Retain critical delivery resources even after
                project slowdowns.</li>
              <li><strong>Stable Cost Model:</strong><br> Pre-agreed rates ensure profitability and reduce
                project risks.</li>
              <li><strong>White-Label Delivery:</strong><br> Deliver services under your brand — powered quietly
                by WorkAway.</li>
            </ul>
            <a data-bs-toggle="modal" data-bs-target="#recruitmentagenciesModal" class="btn btn-primary">Learn
              How WorkAway Helps Agencies →</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cta-section">
    <div class="container">
      <div class="callto-action">
        <div class="row">
          <div class="col-lg-8 col-xl-8 col-12">
            <div class="cta-content">
              <p class="title-cta">"Empowering Global Talent, One Click at a Time – Access Any Skill, Any Service,
                Anytime, Anywhere."</p>
              <a href="contactus.html" class="btn btn-yellow btn-lg me-2 mob-mb1">Enquire Now</a>
            </div>
          </div>
          <div class="cta-model">
            <img src="/assets/img/cta-model-img.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>