<section class="page-header-attachment margin-top104" style="background-image: url(/assets/img/aboutus-page-header-bg.png);">
  <div class="overlay-header">
    <div class="container">
      <div class="page-header-content">
        <h1 class="page-titletop">Let’s Talk About Scaling Smarter.</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-12">
        <h2 class="headingTitle2 mb-5">Our Communication and <br><span class="text-primary">Postal Details</span></h2>
        <div class="address-line mb-4">
          <div class="address-icon">
            <i class="bi bi-geo-alt-fill" style="color:#0f51e0"></i>
          </div>
          <p class="p-18">Unit No 2, Gat No-61,<br> Near Shantai Mangal Karyalay,<br>
            Chimbli, Khed, Pune 410501.</p>
        </div>
        <div class="address-line mb-4">
          <div class="address-icon">
            <i class="bi bi-envelope-fill" style="color:#0f51e0"></i>
          </div>
          <p class="p-18"><a href="mailto:contact@spectrumithub.com">contact@spectrumithub.com</a></p>
        </div>
        <div class="address-line mb-4">
          <div class="address-icon">
            <i class="bi bi-telephone-fill" style="color:#0f51e0"></i>
          </div>
          <p class="p-18"><a href="tel:+91 XXXX XXXX XX">XXXX XXXX XX</a></p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 col-12">
        <h2 class="headingTitle2 mb-5">Need help? Want to learn more? <br><span class="text-primary"> We’re ready to
            listen.</span></h2>
        <form>
          <div class="form-group">
            <label>Full Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter your full name" required>
          </div>
          <div class="form-group">
            <label>Company Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter your company name" required>
          </div>
          <div class="form-group">
            <label>Email Id <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="emailaddress@domain.com" required>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="+Country Code XXXX XXXX XX" required>
          </div>
          <div class="form-group">
            <label>Website URL</label>
            <input type="text" class="form-control" placeholder="Eg. spectrumithub.com" required>
          </div>
          <div class="form-group">
            <label>Your Role <span class="text-danger">*</span></label>
            <select class="form-select form-control">
              <option selected>Select from the dropdown </option>
              <option>Client / Business Representative</option>
              <option>Recruitment Agency Representative</option>
              <option>IT Supplier / Vendor</option>
              <option>Job Seeker / Candidate</option>
              <option>Other (please specify)</option>
            </select>
          </div>
          <div class="form-group">
            <label>Reason for Contact<span class="text-danger">*</span></label>
            <select class="form-select form-control">
              <option selected>Select from the dropdown </option>
              <option>Inquiry about Model PET</option>
              <option>Inquiry about QA Services</option>
              <option>Inquiry about IT Support Services</option>
              <option>I'm a Recruitment Agency</option>
              <option>General Inquiry</option>
            </select>
          </div>
          <div class="form-group">
            <label>Drop Message</label>
            <textarea class="form-control" cols="100" rows="3" placeholder="Enter your message"></textarea>
          </div>
          <button class="btn btn-primary btn-lg">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!--Search  Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-5">
        <h3><strong>Choose Your Need</strong></h3>
        <p>Find Your Match - Shortlist companies based on your goals and connect directly for quotes or discussions.</p>

        <ul class="SearchneedList">
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/resources-team.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">Search Talent</p>
                  <p class="mb-0 text-muted p-12">WorkAway gives you guaranteed access to pre-approved IT talent</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/QA-services.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">QA Services</p>
                  <p class="mb-0 text-muted p-12">End-to-end testing solutions powered by UK governance and India
                    delivery strength</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/corporate-team.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">IT Subcontracting Services</p>
                  <p class="mb-0 text-muted p-12">Scale your delivery capacity without the cost, risk, or delay of
                    permanent hires</p>
                </div>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>