<section class="page-header-attachment margin-top104" >
  <div class="overlay-header">
    <div class="container">
      <div class="page-header-content text-center">
        <h1 class="page-titletop">Let's Talk About Scaling Smarter.</h1>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-5 col-sm-4 col-md-4 col-12">
        <h2 class="headingTitle2 mb-5">Our Communication and <br><span class="text-primary">Postal Details</span></h2>
        <div class="address-line mb-4">
          <div class="address-icon">
            <i class="bi bi-geo-alt-fill" style="color:#0f51e0"></i>
          </div>
          <p class="p-18">Unit No 2, Gat No-61,<br> Near Shantai Mangal Karyalay,<br>
            Chimbli, Khed, Pune 410501.</p>
        </div>
        <div class="address-line mb-4">
          <div class="address-icon">
            <i class="bi bi-envelope-fill" style="color:#0f51e0"></i>
          </div>
          <p class="p-18"><a href="mailto:contact&#64;spectrumithub.com">contact&#64;spectrumithub.com</a></p>
        </div>
        <div class="address-line mb-4">
          <div class="address-icon">
            <i class="bi bi-telephone-fill" style="color:#0f51e0"></i>
          </div>
          <p class="p-18"><a href="tel:+91 XXXX XXXX XX">XXXX XXXX XX</a></p>
        </div>
      </div>
      <div class="col-lg-7 col-xl-7 col-sm-8 col-md-8 col-12">
        <h2 class="headingTitle2 mb-5">Need help? Want to learn more? <br><span class="text-primary"> We're ready to
            listen.</span></h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3 align-items-center">
            <label for="name" class="col-sm-3 col-form-label">Full Name<span class="text-danger">*</span> </label>
            <div class="col-sm-9">
                <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter your full name">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="companyName" class="col-sm-3 col-form-label">Company Name<span class="text-danger">*</span> </label>
            <div class="col-sm-9">
                <input type="text" id="companyName" formControlName="companyName" class="form-control" placeholder="Enter your company name">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="email" class="col-sm-3 col-form-label">Email Id<span class="text-danger">*</span></label>
            <div class="col-sm-9">
               <input type="email" id="email" formControlName="email" class="form-control" placeholder="emailaddress@domain.com">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="mobileNumber" class="col-sm-3 col-form-label">Phone Number</label>
            <div class="col-sm-9">
               <input type="text" id="mobileNumber" formControlName="mobileNumber" (keypress)="NumberOnly($event)" class="form-control" placeholder="+Country Code XXXX XXXX XX">
            </div>
          </div>
           <div class="row mb-3 align-items-center">
            <label for="websiteUrl" class="col-sm-3 col-form-label">Website URL<span class="text-danger">*</span></label>
            <div class="col-sm-9">
               <input type="text" id="websiteUrl" formControlName="websiteUrl" class="form-control" placeholder="Eg. spectrumithub.com">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="role" class="col-sm-3 col-form-label">Your Role<span class="text-danger">*</span></label>
            <div class="col-sm-9">
               <select class="form-select form-control" id="role" formControlName="role">
              <option value="">Select from the dropdown </option>
              <option value="client">Client / Business Representative</option>
              <option value="recruitment">Recruitment Agency Representative</option>
              <option value="supplier">IT Supplier / Vendor</option>
              <option value="jobseeker">Job Seeker / Candidate</option>
              <option value="other">Other (please specify)</option>
            </select>
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="reasonForContact" class="col-sm-3 col-form-label">Reason for Contact<span class="text-danger">*</span></label>
            <div class="col-sm-9">
               <select class="form-select form-control" id="reasonForContact" formControlName="reasonForContact">
                <option value="">Select from the dropdown </option>
                <option value="pet">Inquiry about Model PET</option>
                <option value="qa">Inquiry about QA Services</option>
                <option value="it">Inquiry about IT Support Services</option>
                <option value="recruitment">I'm a Recruitment Agency</option>
                <option value="general">General Inquiry</option>
              </select>
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="message" class="col-sm-3 col-form-label">Drop Message</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="message" formControlName="message" cols="100" rows="3" placeholder="Enter your message"></textarea>
            </div>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!contactForm.valid">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--Search  Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-5">
        <h3><strong>Choose Your Need</strong></h3>
        <p>Find Your Match - Shortlist companies based on your goals and connect directly for quotes or discussions.</p>

        <ul class="SearchneedList">
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/resources-team.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">Search Talent</p>
                  <p class="mb-0 text-muted p-12">WorkAway gives you guaranteed access to pre-approved IT talent</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/QA-services.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">QA Services</p>
                  <p class="mb-0 text-muted p-12">End-to-end testing solutions powered by UK governance and India
                    delivery strength</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/corporate-team.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">IT Subcontracting Services</p>
                  <p class="mb-0 text-muted p-12">Scale your delivery capacity without the cost, risk, or delay of
                    permanent hires</p>
                </div>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
