.margin-top104 {
    margin-top: 104px;
}

.bg-light {
    background-color: #FFF !important;
    border: 1px solid #F5F5F5;
    color: #000;
    padding: 0.75rem 1rem;
    border-radius: 100px;
    font-size: 1rem;
}

ul.circle-list li::marker {
  color: #f97315;
}
ul.chekList li::before {
    content: "\F270";
    font-family: "bootstrap-icons";
    position: absolute;
    left: 0;
    top: 0;
    color: #22C55F;
}