<!-- <section class="page-header-attachment margin-top104"
  style="background-image: url(/assets/img/aboutus-page-header-bg.png);"> -->
  <section class="page-header-attachment margin-top104">
  <div class="overlay-header">
    <div class="container">
      <div class="page-header-content text-center">
        <h1 class="page-titletop">WorkAway</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Our Services</a></li>
            <li class="breadcrumb-item active" aria-current="page">WorkAway</li>
          </ol>
        </nav>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12">
        <h1 class="headingTitle mb-4"><img src="/assets/img/clock-group.svg" width="42" /> WorkAway</h1>
        <h3 class="text-muted mb-4">Your Talent, Banked and Ready — Scale Smarter, Deliver Faster.</h3>
        <p class="mb-4">WorkAway gives you guaranteed access to pre-approved IT talent — reserved exclusively for you,
          activated only
          when you need them, without carrying full-time costs.</p>
        <ul class="chekList mb-5">
          <li class="mb-4">
            <strong>Talent On Tap</strong><br>
            Banked talent ready to deploy anytime with guaranteed continuity across project waves.
          </li>
          <li class="mb-4">
            <strong>No Bench Cost</strong><br>
            Pay only when activated-no unnecessary cost during inactivity periods.
          </li>
          <li>
            <strong>Client Approved</strong><br>
            Your interview and approve resources before banking for maximum confidance.
          </li>
        </ul>
        <div class="row">
          <div class="col-lg-5 col-xl-5 col-md-6 col-sm-6 col-12 mob-mb1">
            <a routerLink="/our-services/workaway-registration" class="btn btn-yellow btn-lg w-100 mob-mb1">
              Register Your Demand <i class="bi bi-arrow-right"></i></a>
          </div>
          <div class="col-lg-7 col-xl-7 col-md-6 col-sm-6 col-12 mob-mb1">
            <a href="javascript:;" class="btn btn-white btn-lg w-100 mob-mb1"><i class="bi bi-download"></i>
              Download Talent
              Banking Deck</a>
          </div>
          <div class="col-12 mt-3">
            <a href="javascript:;" (click)="navigateToHome()" class="btn btn-white btn-lg w-100 mob-mb1 mt-2"><i
                class="bi bi-search"></i> Search Talent</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12">
        <div class="FlatCard mb-3">
          <div class="card-body">
            <h5><strong>Pain Points We Solve</strong></h5>
            <div>
              <p class="mb-1"><span class="badge bg-light">For Corporates</span></p>
              <p class="text-muted">Stuck with expensive contracts. No flexibility to scale delivery up/down.</p>
            </div>
            <div>
              <p class="mb-1"><span class="badge bg-light">For Growing Businesses</span></p>
              <p class="text-muted">Skills not available when growth opportunities arise. Full-time staffing slowing
                down agility.</p>
            </div>
            <div>
              <p class="mb-1"><span class="badge bg-light">For IT Providers / Software Houses</span></p>
              <p class="text-muted">Lost bids because of lack of immediate resource scale. Financial risks from scaling
                permanent teams.</p>
            </div>
            <div>
              <p class="mb-1"><span class="badge bg-light">For Recruitment Agencies</span></p>
              <p class="text-muted">Client trust erosion when candidates are unavailable. Rising contractor costs
                cutting margins.</p>
            </div>
          </div>
        </div>
        <div class="FlatCard mb-3">
          <div class="card-body">
            <h5><strong>How WorkAway Works</strong></h5>
            <ol class="orderList">
              <li>Register your demand.</li>
              <li>WorkAway shortlists talent.</li>
              <li>You interview and approve resources.</li>
              <li>Bank your approved team for 12 months.</li>
              <li>Activate as needed.</li>
              <li>Scale up/down flexibly.</li>
            </ol>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12">
        <div class="FlatCard mb-3">
          <div class="card-body">
            <h5><strong>Grow Smarter with WorkAway</strong></h5>
            <ul class="circle-list">
              <li>Scale without recruiting delays.</li>
              <li>Protect project knowledge and continuity.</li>
              <li>Improve financial control and agility.</li>
              <li>Win more projects with guaranteed delivery capacity.</li>
            </ul>
          </div>
        </div>
        <div class="FlatCard mb-3">
          <div class="card-body">
            <h5><strong>Cost Overview</strong></h5>
            <ul class="circle-list">
              <li>Talent Banking Fee: One-time per resource (valid for 12 months).</li>
              <li>Daily Usage Rate: Pay only when resources are working.</li>
              <li>Minimum Annual Commitment: Fair minimum billing per banked resource.</li>
              <li>No hidden charges during inactive periods beyond minimum.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12">
        <h1 class="headingTitle mb-4">Why Talent Banking Matters</h1>
        <p>The way companies access IT talent is broken.</p>
        <ul _ngcontent-ng-c1260127251="" class="circle-list mb-4">
          <li _ngcontent-ng-c1260127251="">Full-time hiring adds permanent cost and risk.</li>
          <li _ngcontent-ng-c1260127251="">Contractors fluctuate in pricing and availability.</li>
          <li _ngcontent-ng-c1260127251="">Skill shortages block project starts and growth plans.</li>
          <li _ngcontent-ng-c1260127251="">Agencies and businesses struggle to guarantee continuity.</li>
        </ul>
        <p><strong>WorkAway's Talent Banking Model gives you scalability, security, and flexibility — all without carrying unnecessary burden.</strong></p>
      </div>
    </div>
  </div>
</section>

<section class="light-gray">
  <div class="container">
    <div class="mb-5 text-center">
      <h3 class="headingTitle">Services <span class="text-primary">We Offer</span></h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-12 mb-4">
        <div class="FlatCard shadow-none we-support-card1">
          <div class="card-body p-4">
            <img src="/assets/img/software-development.png" width="84" class="mb-4" />
            <p>Talent Banking across IT roles (Dev, QA, Cloud, Cyber, Data).</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-12 mb-4">
        <div class="FlatCard shadow-none we-support-card2">
          <div class="card-body p-4">
            <img src="/assets/img/mobile-payment.png" width="84" class="mb-4" />
            <p>On-Demand Activation with Pay-When-Used model.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-12 mb-4">
        <div class="FlatCard shadow-none we-support-card1">
          <div class="card-body p-4">
            <img src="/assets/img/resources.png" width="84" class="mb-4" />
            <p>Guaranteed Resource Continuity during downtime.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-12 mb-4">
        <div class="FlatCard shadow-none we-support-card2">
          <div class="card-body p-4">
            <img src="/assets/img/banking.png" width="84" class="mb-4" />
            <p>Flexible Banking Options tailored to client needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <div class="mb-5">
      <h5 class="headingTitle">The most <span class="text-primary">demanding skills</span></h5>
      <p>Get some Inspirations from 86K+ skills</p>
    </div>
    <div class="row">
      <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
        <div class="light-gray-card">
          <img src="/assets/img/ui-ux.gif" height="60" class="mb-4" />
          <p class="mb-0"><strong>UX/UX Designer</strong></p>
          <p class="mb-0 p-12">250 Skills</p>
        </div>
      </div>
      <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
        <div class="light-gray-card">
          <img src="/assets/img/softwarte-developer.gif" height="60" class="mb-4" />
          <p class="mb-0"><strong>Software Developer</strong></p>
          <p class="mb-0 p-12">250 Skills</p>
        </div>
      </div>
      <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
        <div class="light-gray-card">
          <img src="/assets/img/software-testing.gif" height="60" class="mb-4" />
          <p class="mb-0"><strong>Software Tester</strong></p>
          <p class="mb-0 p-12">250 Skills</p>
        </div>
      </div>
      <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
        <div class="light-gray-card">
          <img src="/assets/img/frontend-developer.gif" height="60" class="mb-4" />
          <p class="mb-0"><strong>Frontend Developer</strong></p>
          <p class="mb-0 p-12">250 Skills</p>
        </div>
      </div>
      <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
        <div class="light-gray-card">
          <img src="/assets/img/api-developer.gif" height="60" class="mb-4" />
          <p class="mb-0"><strong>API Developer</strong></p>
          <p class="mb-0 p-12">250 Skills</p>
        </div>
      </div>
      <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4 col-6">
        <div class="light-gray-card">
          <img src="/assets/img/fullstack-developer.gif" height="60" class="mb-4" />
          <p class="mb-0"><strong>Fullstack Developer</strong></p>
          <p class="mb-0 p-12">250 Skills</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="cta-section">
  <div class="container">
    <div class="callto-action">
      <div class="row">
        <div class="col-lg-11 col-xl-11 col-12">
          <div class="cta-content">
            <p class="title-cta">"Work From India, Deliver Worldwide – Let Your Team<br> Earn in Pounds While Building
              a Global Reputation."</p>
            <!-- <a href="workaway-registration.html" class="btn btn-yellow btn-lg mob-mb1 mob-w100">Register Your Demand</a>
              <a href="javascript:;" class="btn btn-yellow btn-lg mob-mb1 mob-w100" style="position: relative;z-index: 1;">Download Talent Banking Deck</a>
              <a href="resources-search.html" class="btn btn-yellow btn-lg mob-mb1 mob-w100" style="position: relative;z-index: 1;">Search Talent</a> -->
            <a routerLink="/contact-us" class="btn btn-yellow btn-lg me-2 mob-mb1">Enquire Now</a>
          </div>
        </div>
        <div class="cta-model">
          <img src="/assets/img/cta-model-img.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--Search  Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-5">
        <h3><strong>Choose Your Need</strong></h3>
        <p>Find Your Match - Shortlist companies based on your goals and connect directly for quotes or discussions.
        </p>

        <ul class="SearchneedList">
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/resources-team.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">Search Talent</p>
                  <p class="mb-0 text-muted p-12">WorkAway gives you guaranteed access to pre-approved IT talent</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/QA-services.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">QA Services</p>
                  <p class="mb-0 text-muted p-12">End-to-end testing solutions powered by UK governance and India
                    delivery strength</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="resources-search.html">
              <div class="row align-items-center">
                <div class="col-2">
                  <img src="/assets/img/corporate-team.gif" width="64" />
                </div>
                <div class="col-10">
                  <p class="p-18 p-600 mb-0">IT Subcontracting Services</p>
                  <p class="mb-0 text-muted p-12">Scale your delivery capacity without the cost, risk, or delay of
                    permanent hires</p>
                </div>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>