  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 col-12 tab-mb1 mob-mb1">
         <p class="p-22 p-600">Spectrum IT Hub</p>
         <div class="address-line">
          <div class="address-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <p><strong>374 A Tower, William Road Blvd ,</strong> <br>
           Melbourne 2721, IL, USA</p>
        </div>
        <div class="address-line">
          <div class="address-icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <p><a href="tel:+508-443-803-86" class="text-dark">+(323) 750-1234</a></p>
        </div>
        <div class="address-line">
          <div class="address-icon">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <p>support@spectrumithub.com</p>
        </div>      
          <ul class="socialmedia">
            <li><a href="javascript();"><i class="icofont-facebook"></i></a></li>
            <li><a href="javascript();"><i class="icofont-instagram"></i></a></li>
            <li><a href="javascript();"><i class="icofont-twitter"></i></a></li>
            <li><a href="javascript();"><i class="bi bi-linkedin"></i></a></li>
            <li><a href="javascript();"><i class="bi bi-youtube"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 tab-mb1 mob-mb1">        
          <ul class="quicklinks">
            <p>About Spectrum</p>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/faq">FAQ’s</a></li>
            <li><a routerLink="/contact-us">Career With Us</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 tab-mb1 mob-mb1">         
          <ul class="quicklinks">
            <p>Our Services</p>
            <li><a href="javascript();">Quality Assurance & Testing</a></li>
            <li><a href="javascript();">Software Development</a></li>
            <li><a href="javascript();">Cyber Security</a></li>
            <li><a href="javascript();">Cloud Solution</a></li>
            <li><a href="javascript();">Development Services</a></li>
            <li><a href="javascript();">Managed IT Services</a></li>
            <li><a href="javascript();">Digital Marketing & SEO</a></li>
          </ul>
        </div>       
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-xl-8 col-md-6 col-sm-6 col-12">
          <p class="p-12">© 2024 by SPECTRUM IT HUB LIMITED</p>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12 mobile-hide">
          <img src="assets/img/footer-logo.png"/>
        </div>
      </div>
    </div>
  </footer>